.ImageSwiper {
  .cardContainer {
    transition: all 0.3s ease;
    position: relative;
    margin: 40px auto;
    width: 385px;
    min-width: 385px;
    height: 385px;
    perspective: 500px;
    cursor: hand;
    .controller {
      position: absolute;
      z-index: 200;
      top: 0;
      width: 20%;
      height: 20%;
      top: 40%;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    .card {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 1s ease;
      border-radius: 2px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 90;
      opacity: 0.9;
      border-radius: 8px;
      overflow: hidden;
    }
    .card:first-of-type {
      z-index: 100;
      opacity: 1;
    }
    .card:nth-of-type(n + 2) {
      transform: scale(0.8);
    }
    .card:first-of-type {
      transform: scale(0.9);
      transform-origin: center;
    }
    .card:nth-last-of-type(2) {
      transform: scale(0.8) rotate(-5deg) translateY(-20px);
      transform-origin: bottom left;
    }
    .card:last-of-type {
      transform: scale(0.8) rotate(5deg) translateY(-20px);
      transform-origin: bottom right;
    }
  }
}
